version: "3.9"

services:
  app:
    build: .
    container_name: app
    image: python311-app
    volumes:
      - .:/app
    working_dir: /app
    tty: true
    stdin_open: true
    network_mode: "host"   # <-- 使用 host 網路
